<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <description> File Upload Location</description>
        <param-name>file_upload</param-name>
        <param-value>/Users/mac/desktop/FarmPics/</param-value>
    </context-param>
    <context-param>
        <description>Database Name</description>
        <param-name>database_name</param-name>
        <param-value>inventorydb</param-value>
    </context-param>
    <context-param>
        <description>Database Username</description>
        <param-name>database_username</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <description>Database Password</description>
        <param-name>database_password</param-name>
        <param-value>%310594%</param-value>
    </context-param>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>com.farminventory.controller.UserController</servlet-class> 
    </servlet>
    <servlet>
        <servlet-name>StockController</servlet-name>
        <servlet-class>com.farminventory.controller.StockController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendorController</servlet-name>
        <servlet-class>com.farminventory.controller.VendorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionController</servlet-name>
        <servlet-class>com.farminventory.controller.TransactionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeliveryController</servlet-name>
        <servlet-class>com.farminventory.controller.DeliveryController</servlet-class>s
    </servlet>
    <servlet>
        <servlet-name>GlobalConfig</servlet-name>
        <servlet-class>com.farminventory.controller.GlobalConfig</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateTransaction</servlet-name>
        <servlet-class>com.farminventory.controller.ValidateTransaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkout</servlet-name>
        <servlet-class>com.farminventory.controller.Checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>com.farminventory.controller.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFile</servlet-name>
        <servlet-class>com.farminventory.controller.GetFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileController</servlet-name>
        <servlet-class>com.farminventory.controller.FileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayImage</servlet-name>
        <servlet-class>com.farminventory.controller.DisplayImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>com.farminventory.controller.Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClerkController</servlet-name>
        <servlet-class>com.farminventory.controller.ClerkController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateClerkTransaction</servlet-name>
        <servlet-class>com.farminventory.controller.ValidateClerkTransaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerContoller</servlet-name>
        <servlet-class>com.farminventory.controller.ManagerContoller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClerkProfileController</servlet-name>
        <servlet-class>com.farminventory.controller.ClerkProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProfileController</servlet-name>
        <servlet-class>com.farminventory.controller.AdminProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerController</servlet-name>
        <servlet-class>com.farminventory.controller.ManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerProfileController</servlet-name>
        <servlet-class>com.farminventory.controller.ManagerProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WarehouseManager</servlet-name>
        <servlet-class>com.farminventory.controller.WarehouseManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Category</servlet-name>
        <servlet-class>com.farminventory.controller.Category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>com.farminventory.controller.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditLoanType</servlet-name>
        <servlet-class>com.FULMCS.controller.EditLoanType</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.farminventory.controller.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/loginprocess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockController</servlet-name>
        <url-pattern>/StockController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendorController</servlet-name>
        <url-pattern>/VendorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionController</servlet-name>
        <url-pattern>/TransactionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeliveryController</servlet-name>
        <url-pattern>/DeliveryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GlobalConfig</servlet-name>
        <url-pattern>/GlobalConfig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateTransaction</servlet-name>
        <url-pattern>/ValidateTransaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkout</servlet-name>
        <url-pattern>/Checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/ProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayImage</servlet-name>
        <url-pattern>/DisplayImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/Dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClerkController</servlet-name>
        <url-pattern>/ClerkController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateClerkTransaction</servlet-name>
        <url-pattern>/ValidateClerkTransaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerContoller</servlet-name>
        <url-pattern>/ManagerContoller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClerkProfileController</servlet-name>
        <url-pattern>/ClerkProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProfileController</servlet-name>
        <url-pattern>/AdminProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerController</servlet-name>
        <url-pattern>/ManagerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerProfileController</servlet-name>
        <url-pattern>/ManagerProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WarehouseManager</servlet-name>
        <url-pattern>/WarehouseManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/CategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditLoanType</servlet-name>
        <url-pattern>/EditLoanType</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
